{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			<h1 class="mt-5">{{ program.title }}
				- Saison
				{{ season.number }}</h1>
			<p>{{ program.synopsis }}</p>
			<ul>
			{% for episode in episodes %}
				<li><a href="{{ path("program_episode_show", { program: program.id, season: season.id, episode: episode.id }) }}">{{ episode.number }} : {{ episode.title }}</a></li>
			{% endfor %}
			</ul>
			<p>
				<a href="{{ path('program_index') }}">
					Retour à la liste des programmes
				</a>
			</p>
			<p>
				<a href="{{ path('category_index') }}">
					Retour à la liste des catégories
				</a>
			</p>
		</div>
	</div>
{% endblock %}
