{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="media">
		<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1 class="mt-0">{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<p>Les saisons :</p>
			<ul>
			{% for season in seasons %}
				<li><a href="{{ path("program_show", { id: program.id }) }}">{{ season.description }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<p>
		<a href="{{ path('program_index') }}">
			Retour à la liste des programmes
		</a>
	</p>
	<p>
		<a href="{{ path('category_index') }}">
			Retour à la liste des catégories
		</a>
	</p>
{% endblock %}
